@inject ICallApi Api
@inject IRenderModeExplainer Explainer


<div class="card">
    <h3 class="card-header">@Header</h3>
    <div class="card-body">
        <h5 class="card-subtitle">@Explainer.WhereAmI()</h5>

        @if(apiResult != null)
        {
                <p class="card-text">
                    JTI: @apiResult.Jti
                    <br />Retrieved at @apiResult.TimeStamp
                </p>
        } else
        {
            <p class="card-text">API Result: not called yet</p>
        }

        <button class="btn btn-primary" @onclick="CallApiAsync">Call API</button>
    </div>
</div>

@code {
    [Parameter] public string Header { get; set; } = string.Empty;
    private ApiResult? apiResult;

    protected async Task CallApiAsync()
    {
        apiResult = await Api.CallApiAsync();
    }
}