@page "/wasm"

@using BlazorApp.Client.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveWebAssembly
@inject IRenderModeExplainer Explainer

<PageTitle>Interactive WASM Render Mode</PageTitle>

<h1>Interactive WASM Render Mode</h1>

<p>@Explainer.WhereAmI()</p>

<AuthorizeView>
    <NotAuthorized>
        Hello Anonymous!
    </NotAuthorized>
    <Authorized>
        <h2>Hello @context.User.Identity?.Name!</h2>
        <CallApi></CallApi>
    </Authorized>
</AuthorizeView>
